################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Alp.Com.DataAccessLayer.zip
/Alp.Com.Igu.zip
/Alp.Com.Igu/obj
